.header {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-2x);
}

.header>.resetBtn:disabled {
    opacity: 0.5;
    cursor: auto;
}

.header>.resetBtn:not(:disabled):hover {
    background-color: var(--tile);
    color: var(--main-text);
}