:root {
  --background: #090f15;
  --tile: #3f78c4;
  --header-bg: var(--background);
  --footer-bg: var(--background);
  --title: #FFF;
  --main-text: #FFF;
  --secondary-text: #FFF;
  --padding-2x: 2rem;
  --padding-1x: 1rem;
  --border-radius: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--background);
  color: var(--main-text);
}

a,
a:visited,
a:active {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}